<% if @spot.errors.full_messages.length > 0 %>
  <ul data-role="listview" data-inset="true">
    <% @spot.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @spot, :id => spot_form_id(@spot) do |f| %>
  
  <div><%= f.label :name %><%= f.text_field :name %></div>

  <div><%= f.label :addr1, "Address" %><%= f.text_field :addr1 %></div>
  <div><%= f.label :addr2, "(contd)" %><%= f.text_field :addr2 %></div>

  <div><%= f.label :longitude, "Longitude"%><%= f.text_field :longitude %></div>
  <div><%= f.label :latitude,  "Latitude" %><%= f.text_field :latitude  %></div>
  <div id="geo_status">
    <%= if @spot.latitude.nil? then "NOT LOCATED" else "LOCATED" end %>
  </div>

  <% Spot::FLAG_ATTRS.each do |attr| %>
    <div><%= f.check_box attr %><%= f.label attr %></div>
  <% end %>

  <%= f.submit "Save" %>

<% end %>

<% @page_id = dom_id(@spot, :page_for_spot) %>

<script>
  // Well, let's call it *minimally* intrusive Javascript...
  $("#<%= @page_id %>").bind("pageinit", 
    function(){ init_spot_geocode($("#<%= spot_form_id(@spot) %>")); });
</script>

