<%= content_for :title do %>
  Spots on File
<% end %>

<%= content_for :footer do %>
  <%= link_to "Add spot", new_spot_url, "data-role" => "button" %>
<% end %>

<% @page_id = "spots_edit_map" %>

<% if @spots.empty? %>
  No spots yet<br/>
<% else %>
  <div id="spots_edit_map_canvas" style="float:left;width:70%;height:100%">
  </div>
  <script> 
    $("#<%= @page_id %>").bind("pageinit",
      function() { setup_map("<%= spots_url %>", "spots_edit_map_canvas") });
  </script>
<% end %>

