<!DOCTYPE html>
<html>
<head>
  <title><%= content_for :title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" />
  <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.ie.css" />
  <![endif]-->
  <script src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
 <div data-role="page"
   <% unless @mobile_page_id.nil? %>
    id="<%= @mobile_page_id %>"
   <% end %>
   <% unless @mobile_page_url.nil? %>
    data-url="<%= @mobile_page_url %>"
   <% end %>
 >
  <div data-role="header" 
    <% unless @mobile_page_movable_headers_footers %>
      data-position="fixed" data-tap-toggle="false"
    <% end %>
  >
    <h1><%= content_for :title %></h1>
    <%= content_for :header_links %>
  </div>

  <div data-role="content">
    <%= (content_for(:content).blank?)? yield : yield(:content) %>
  </div>

  <% unless content_for(:footer).empty? %>
    <div data-role="footer"
      <% unless @mobile_page_movable_headers_footers %>
        data-position="fixed" data-tap-toggle="false"
      <% end %>
    >
      <%= content_for :footer %>
    </div>
  <% end %>
  
 </div>

</body>
</html>
